body {
    max-width: 1280px;
    margin: 20px auto;
    background: url(../images/old\ TV.jpg) left top no-repeat;
    /* background-size: cover; */
}
.jumbotron {
    overflow: auto;
    background-color: rgba(16, 34, 66, 0.9);
    margin-bottom: 0px;
}

form {
    float: left;
    margin-right: 20px;
}

#gif-viewer {
    clear: both;   
    margin: 20px;
}

#holder {
    background-color: rgba(215, 223, 245, 0.9);
}

.gif {
    margin: 2.5px;
}

 .gifCard {
     width: 18rem;
     float: left;
     margin: 0px 10px 10px 0px;
     opacity: unset;
 }
